.awards_img{
	width: 23%;
	float: left;
	height: 100%;
	padding: 1%;
	text-align: center;
}

.awards_img img{
	width: 100%;
	position: relative;
	top: 0px;
}

.awards_img span{
	width: 100%;
	color: #000000;
}